
{{ $ := .root }}
{{ $page := .page }}
{{ $columns := $page.Params.design.columns | default "2" }}



{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $type := "" }}
{{ if .type }}
  {{ $type = .type }}
{{ else }}
  {{ $type = $page.Params.type }}
{{end}}

{{$type_page_path := (printf "/blank_type/%s" $type)}}
{{$type_page :=site.GetPage $type_page_path}}
{{ $type_detail := $type_page.Params }}





{{ if ne $columns "1" }}


{{ if $type_detail.list}} 

{{ $type_page.Content | markdownify | emojify }}

{{else}}

  <div class="col-12 col-lg-8">
    <br> 
<div class="wrap-collabsible">
    <div id='overview-title'>
      <h1 style="color:#D2524B;font-size:6rem" class='overview-title-text' > 
      {{ $type_page.Title | markdownify | emojify }} </h1> </div>
      <div id='overview-subtitle'> 
      <h2 style="color:#0a546c;font-size:2rem" class = 'overview-subtitle-text'> {{ $type_detail.Subtitle }} </h2></div>
      <div id='overview-subsubtitle'> 
      <h2 style="color:#118ab2;font-size:1.75rem" class ='overview-subtitle-text'> {{ $type_detail.Subsubtitle }} </h2>
       </div> 
      <div class="overview-icons" style="color:#139CCA"> 
      <ul style='color:#139CCA' class="network-icon" aria-hidden="true">
        {{ range $type_detail.social }}
        {{ $pack := or .icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        {{ $link := .link }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        <li>
          <a style="color:#139CCA" href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} aria-label="{{ .icon }}">
            <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
          </a>
        </li>
        {{ end }}
        
      </span> 
     
      </ul>
     
      </div>
      
      
      {{if $type_detail.drop}}
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle"> {{ $type_detail.drop | markdownify | emojify }} </label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p> {{ $type_page.Content  | markdownify | emojify }}
      </p>
    </div>
  </div>
</div>
{{else}}

    <div id='overview-content'> <span style="color:#333333"> 
    <br> 
    {{ $type_page.Content }}
    </span> 
    </div>
    
  </div>
{{end}}
{{end}}
{{ else }}
  <div class="col-12">
    <h1 class='title'>{{ $page.Title | markdownify | emojify }}</h1>
    <p>{{ $type_page.Content }}</p>
    
  </div>
  
  <br> 

{{end}}

